{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Django</title>
		<link
			href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="{% static './static/dist/app.css' %}" />
	</head>
	<body class="bg-gray-200">
		<div id="app">
			<App></App>
		</div>

		<script src="{% static './static/dist/app.js' %}"></script>
	</body>
</html>
